html,
body {
	background-color: rgb(26, 25, 25);
	width: 100%;
	padding: 0;
	margin: 0;
	overflow-x: hidden;
}

* {

	font-family: 'Josefin Sans', sans-serif;
	box-sizing: border-box;

}

#nav ul {
	margin-left: auto;
}

#nav ul li {
	list-style-type: none;
	display: inline-block;
	padding: 10px 25px;
}

#nav ul li a {
	color: white;
	text-decoration: none;
	font-weight: bold;
	text-transform: capitalize;
	letter-spacing: 2px;
}

#nav ul li a:hover {
	color: #FF9F29;
	transition: .4s;
}

.button,.proj-card a {
	background-color: #FF9F29;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 10px 20px;
	border-radius: 30px;
	transition: .4s;
	height: 55px;

}


.button a {
	text-decoration: none;
	color: white;
}

.button:hover {
	background-color: transparent;
	border: 2px solid #FF9F29;
	cursor: pointer;
}

.logo {
	color: white;
	font-size: 35px;
	letter-spacing: 1px;
	cursor: pointer;
}

span {
	color: #FF9F29;
}

#hero {
	left: 0;
	right: 0;
	height: 100vh;
	width: 100%;
	background-image: url(../img/background.gif);
	background-size: cover;
	background-position: center;
	animation: 2s;

}

h1 {
	color: white;
	margin: 20px 0px 20px;
	font-size: 75px;
}

h3 {
	color: white;
	font-size: 25px;
	margin-bottom: 50px;
}

h4 {
	color: #fcfc;
	letter-spacing: 2px;
	font-size: 20px;
}

.content {
	position: absolute;
	top: 50%;
	left: 2%;


}

.newslatter form {
	width: 380px;
	max-width: 100%;
	position: relative;
}

.newslatter form input:first-child {
	display: inline-block;
	width: 100%;
	padding: 14px 130px 14px 15px;
	border: 2px solid #FF9F29;
	outline: none;
	border-radius: 30px;
}

.newslatter form input:last-child {
	position: absolute;
	display: inline-block;
	outline: none;
	border: none;
	padding: 10px 30px;
	border-radius: 30px;
	background-color: #FF9F29;
	color: white;
	box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
	top: 6px;
	right: 6px;
}

span i:hover {
	color: aliceblue;
	transition: .6s;
}

#about {
	position: relative;
	min-height: 100vh;
	width: 100%;
	padding: 10px 0px;
	background-color: #191919;



}

#about img {
	height: auto;
	width: 430px;
}

#about img:hover {
	transform: scale(1.1);
	transition: .4s;
}

#about-text {
	width: 550px;
	text-align: center;
	margin-top: 100px;

}

#main {
	width: 1130px;
	max-width: 95%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

#about-text h2 {
	color: white;
	font-size: 75px;
	text-transform: capitalize;
	margin-bottom: 20px;
}

#about-text h5 {
	color: white;
	letter-spacing: 2px;
	font-size: 22px;
	margin-bottom: 25px;
	text-transform: capitalize;
}

#about-text p {
	color: #fcfc;
	letter-spacing: 1px;
	line-height: 28px;
	font-size: 18px;
	margin-bottom: 45px;
}

button {
	background-color: #FF9F29;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	border-radius: 30px;
	max-height: fit-content;
	transition: .4s;
}

button:hover {
	background-color: transparent;
	border: 2px solid #FF9F29;
	cursor: pointer;
}

#service {
	background: #101010;
	width: 100%;
	padding: 100px 0px;

}

#title h2 {
	color: white;
	font-size: 75px;
	width: 1130px;
	margin: 30px auto;
	text-align: center;
}

#box {
	justify-content: center;
	align-items: center;

}

#card {
	height: 410px;
	width: 335px;
	padding: 20px 35px;
	background: #191919;
	border-radius: 20px;
	margin: 15px;

	overflow: hidden;
	text-align: center;
}

#card i {
	font-size: 50px;
	text-align: center;
	margin: 25px 0px;
	color: #FF9F29;

}

h5 {
	color: white;
	font-size: 23px;
	margin-bottom: 15px;
}

.pra p {
	color: #fcfc;
	font-size: 16px;
	line-height: 27px;
	margin-bottom: 25px;
}

#card #button {
	background-color: #FF9F29;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 9px 22px;
	border-radius: 30px;
	transition: .4s;
}

#card #button:hover {
	background-color: transparent;
	border: 2px solid #FF9F29;
	cursor: pointer;
}

#card:hover {
	transform: scale(1.1);
	transition: 1s;
}

.contact-me {
	width: 100%;
	height: 290px;
	background: #191919;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

.contact-me p {
	color: white;
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 25px;
}

.contact-me .button-two {
	background-color: #FF9F29;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 13px 30px;
	border-radius: 30px;
	transition: .4s;
}

.contact-me .button-two:hover {
	background-color: #1A4D2E;
	border: 2px solid #1A4D2E;
	cursor: pointer;
	transition: .4s;
}

footer {
	position: relative;
	width: 100%;
	height: 400px;
	background: #101010;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

}

footer p:nth-child(1) {
	font-size: 30px;
	color: white;
	margin-bottom: 20px;
	font-weight: bold;
}

footer p:nth-child(2) {
	color: white;
	font-size: 17px;
	width: 500px;
	text-align: center;
	line-height: 26px;
}

.social {
	display: flex;
}

.social a {
	width: 45px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #FF9F29;
	border-radius: 50%;
	margin: 22px 10px;
	color: white;
	text-decoration: none;
	font-size: 20px;
}

.social a:hover {
	transform: scale(1.4);
	transition: .3s;
}

.end {
	position: absolute;
	color: #FF9F29;
	bottom: 35px;
	font-size: 14px;
}

#myBtn {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 99;
	font-size: 15px;
	border: none;
	outline: none;
	background-color: #FF9F29;
	color: white;
	cursor: pointer;
	padding: 15px;
	border-radius: 20px;

}
.proj-card{
	box-sizing: border-box;
	border: 3px aliceblue solid;
	border-radius: 15px;
	overflow: hidden;
}
.proj-card:hover{
	transform: scale(1.05);
	border: 3px #FF9F29 solid;
	transition: .8s;
}

#myBtn:hover {
	background-color: black;

}
.proj-col{
	text-align: right;
	color:#FF9F29;
}
p span{
	color:white
}
.proj-wrapper{
	width:60%;
	border:2px blanchedalmond solid;
	border-radius: 15px;
}

@-webkit-keyframes scroll {
	0% {
	-webkit-transform: translateX(0);
	transform: translateX(0);
	}
	100% {
	-webkit-transform: translateX(calc(-250px * 7));
	transform: translateX(calc(-250px * 7));
	}
	}
	@keyframes scroll {
	0% {
	-webkit-transform: translateX(0);
	transform: translateX(0);
	}
	100% {
	-webkit-transform: translateX(calc(-250px * 7));
	transform: translateX(calc(-250px * 7));
	}
	}
	.slider {
	background: white;
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
	height: 100px;
	margin: auto;
	overflow: hidden;
	position: relative;
	width: 95%;
	}
	.slider::before, .slider::after {
	background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
	content: "";
	height: 100px;
	position: absolute;
	width: 50px;
	z-index: 2;
	}
	.slider::after {
	right: 0;
	top: 0;
	-webkit-transform: rotateZ(180deg);
	transform: rotateZ(180deg);
	}
	.slider::before {
	left: 0;
	top: 0;
	}
	.slider .slide-track {
	-webkit-animation: scroll 40s linear infinite;
	animation: scroll 40s linear infinite;
	display: flex;
	width: calc(250px * 14);
	}
	.slider .slide {
	height: 100px;
	width: 250px;
	}
@media screen and (max-width:1071px){
		.proj-col{
		text-align: center;
	}

	.proj-row{
		flex-direction: column;
		text-align: center;
	}
	.proj-wrapper{
		width: 90%;
	}
	.proj-card{
		margin: 5px auto 5px;
	}
	.proj-row .button{
		width: 200px;
		margin: 10px auto 10px !important;
		display: block !important;
	}
	
}
@media screen and (max-width: 770px) {

	.button {
		display: none
	}

	.content {
		position: relative;
		top: 10%;
	}

	#about {
		margin-top: 150px;
	}

	#about img {
		margin-top: 80px;
	}
	.proj-col{
		text-align: center;
	}

	.proj-row{
		flex-direction: column;
		text-align: center;
	}
	.proj-wrapper{
		width: 90%;
		padding: 20px 0px 20px !important;
	}
	.proj-card{
		margin: 5px auto 5px;
	}
	.proj-row .button{
		width: 200px;
		margin: 10px auto 10px !important;
		display: block !important;
	}
}

@-webkit-keyframes slideInRight {
	0% {
		transform: translateX(900px);
	}

	100% {
		transform: translateX(0);
	}
}

@-moz-keyframes slideIn {
	0% {
		transform: translateX(900px);
	}

	100% {
		transform: translateX(0);
	}
}

@keyframes slideIn {
	0% {
		transform: translateX(900px);
	}

	100% {
		transform: translateX(0);
	}
}

@-webkit-keyframes slideInLeft {
	0% {
		transform: translateX(-900px);

	}

	100% {
		transform: translateX(0);

	}
}

@-moz-keyframes slideIn {
	0% {
		transform: translateX(-900px);
	}

	100% {
		transform: translateX(0);
	}
}

@keyframes slideIn {
	0% {
		transform: translateX(-900px);
	}

	100% {
		transform: translateX(0);
	}
}